<!doctype html>

<html>
  <head>
    <title>Stupid Simple File Transfer - Share ID '{{{id}}}'</title>
  </head>
  <body>
    <h1>stupid simple file transfer</h1>
    <h2>Security Notice</h2>
    <p>
      File contents are only streamed through the server, but not stored there. However, if the server is compromised, file contents can be read.
      In addition, if someone else has the transfer ID, they may be able to download the file first. Only one person at a time can download a file, though,
      so if you ensure that the receiving party clicks the download link before you upload, then nobody else should be able to access the file.
    </p>
    <p>As with any GPL licensed software, you use this at your own risk. I'm not liable for any damages ;)</p>
    <h2>Transferring files with id "{{{id}}}"</h2>
    <p>Step 1: Change the transfer ID below. Share the ID to download the file.</p>
    <form action="/app/">
      <input id="id" name="id" value="{{{id}}}" placeholder="Share ID">
      <input type="submit">
    </form>
    <a href="/random/">Random ID</a>
    <p>Tip: Drag the Random ID link up to your bookmarks bar to create a quick share link</p>
    
    <h3>QR Code</h3>
    <p>A QR code to link to this page:</p>
    <img src="{{{qr}}}"></img>

    <h2>Download</h2>
    <p>Step 2: Click this <a href="/stream/{{{id}}}">download link</a> on the recieving end. You may click the download link before uploading now.</p>

    <h2>Upload</h2>
    <p>Step 3: Upload here:</p>
    <form action="/stream/{{{id}}}" method="post" enctype="multipart/form-data">
      <input type="file" id="upload" name="upload">
      <input type="submit">
    </form>
    <p>OR: Go to URL. This will send the client browser to the URL below:</p>
    <form action="/stream/{{{id}}}" method="post" enctype="multipart/form-data">
      <input id="url" name="url">
      <input type="submit">
    </form>
    <p>Once you've clicked submit, the download should start on the other device. The file is not stored on the server, only streamed through it.</p>
    <a href="https://github.com/kb1rd/ssft-web" target="_blank">GitHub</a>
  </body>
</html>
